.chapter-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.pagination-selector {
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.chapter-title {
    margin: 3vh;
}

.readerpage {
    text-align: center;
}

.release hr {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    opacity: 1;
    margin: 8px 0;
}

.release h5 {
    margin-bottom: 0;
    padding-top: 15px;
}

.release .releasedate {
    float: right;
}

.chapterlist {
    border-color: white;
    border: solid;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.toondetails {
    margin-top: 3vh;
}

.toondirectory {
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.gridimg-preview {
    width: 100%;
    max-width: max-content;
}

.dir-toontitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dir-toonurl {
    color: whitesmoke;
    text-decoration: none;
}

.searchqueryparam {
    font-size: 1rem;
    color: white;
}

.searchquerytitle {
    margin-bottom: 1rem;
}

.dirparampill {
    margin-right: 1rem;
}

.searchparamarea {
    margin-bottom: 3vh;
}
