.chapter-img {
    display: block;
    margin: 0 auto;
}

.pagination-selector {
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.chapter-title {
    margin: 3vh;
}

.readerpage {
    text-align: center;
}
